# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Raw and processed data
data/raw/*
data/processed/*
data/sample/*

# Trained models
models/*.pkl
models/*.joblib

# Testing
.pytest_cache/
.coverage
htmlcov/